@bgColor: #0e7d81;

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;

    .subject-wapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;

        .subject-button {
            width: 300px;
            height: 50px;
            margin: 10px 0;
        }
    }

    .mode-wapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;

        .mode-button {
            width: 300px;
            height: 50px;
            margin: 10px 0;
        }
    }

    .part-wapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;

        .part-button {
            width: 300px;
            height: 50px;
            margin: 10px 0;
        }
    }

    .topic-wapper {
        margin: 50px 0;

        .topic-card {
            width: 300px;
            min-height: 400px;
            margin: 0 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-top: 30px;
            padding-bottom: 30px;
            background-color: @bgColor;
        }

        ::ng-deep .mat-card-header {
            display: flex;
            justify-content: center;
        }

        ::ng-deep .mat-card-actions {
            display: flex;
            justify-content: space-around;
        }

        ::ng-deep .mat-card-header {
            .mat-card-header-text {
                margin: 0;
            }
        }

        ::ng-deep .mat-card-content {
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            flex: 1;
            justify-content: center;

            .topicNameList-wapper, .content-wapper {
                .explain-wapper {
                    margin: 5px 0;
                    line-height: 26px;
    
                    &::before {
                        content: "  ";
                        display: inline-block;
                        width: 20px;
                    }
                }
            }

            .topicNameList-wapper {
                margin-bottom: 20px;
            }
        }

        ::ng-deep .mat-card-title {
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 26px;

            .word-level {
                font-size: 12px;
                margin: 5px;
                height: 16px;
                border-width: 0px;
                background-color: #8f3830;
                display: flex;
                align-items: center;
                padding: 1px;
            }
        }

        ::ng-deep .mat-card-subtitle {
            display: flex;
            justify-content: center;

            .word-audio {
                margin: 0 5px;
            }
        }
    }


}

::ng-deep .mat-flat-button.mat-primary {
    background-color: @bgColor;
}