.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .subject-wapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;

        .subject-button {
            width: 300px;
            height: 50px;
            margin: 10px 0;
        }
    }

    .mode-wapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;

        .mode-button {
            width: 300px;
            height: 50px;
            margin: 10px 0;
        }
    }

    .part-wapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;

        .part-button {
            width: 300px;
            height: 50px;
            margin: 10px 0;
        }
    }

    .topic-wapper {

        .topic-card {
            width: 200px;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        ::ng-deep .mat-card-header,::ng-deep .mat-card-content,::ng-deep .mat-card-actions {
            display: flex;
            justify-content: center;
        }

        ::ng-deep .mat-card-content {
            height: 60px;
            margin: 20px 0;
        }
    }


}