<div class="body">
  <div class="subject-wapper" *ngIf="!currentSubject">
    <button mat-flat-button color="primary" class="subject-button" (click)="selectSubject('英语4')">英语4</button>
    <button mat-flat-button color="primary" class="subject-button">离散数学</button>
    <button mat-flat-button color="primary" class="subject-button">计算机组成与体系结构</button>
    <button mat-flat-button color="primary" class="subject-button">中国近现代史纲要</button>
    <button mat-flat-button color="primary" class="subject-button">数据结构</button>
  </div>
  <div class="mode-wapper" *ngIf="currentSubject && !currentMode">
    <button mat-flat-button color="primary" class="mode-button" (click)="selectMode('复习')">复习</button>
    <button mat-flat-button color="primary" class="mode-button">测试</button>
  </div>
  <div class="part-wapper" *ngIf="currentMode && currentList.length == 0">
    <button mat-flat-button color="primary" class="part-button" *ngFor="let part of currentData.Content" (click)="selectPart(part.PartName)">{{part.PartName}}</button>
  </div>
  <div class="topic-wapper" *ngIf="currentList.length > 0">
    <mat-card class="topic-card">
      <mat-card-header>
        <mat-card-title>{{currentTopic.TopicName}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        {{currentTopic.TopicValue}}
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="nextTopic()">下一个</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
